<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<div class="container">
		  <div class="row">
		    <div class="col-sm-centercol"></div>
		    <div class="col-sm-midcol">
		    	<div class="jumbotron">
		    			<h3>Upload questions and answers</h3>
		    			<hr>
					 	<div class="form-group">
					   	  <label for="exampleFormControlInput1">Question 1</label>
					   	  <input type="text" class="form-control" placeholder="Question">
					    </div>

						<div class="form-group">
					  	  <label for="exampleFormControlTextarea1">Answer 1</label>
					  	  <textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
						  <label for="exampleFormControlInput1">Question 2</label>
						  <input type="text" class="form-control" placeholder="Question">
						</div>

						<div class="form-group">
					      <label for="exampleFormControlTextarea1">Answer 2</label>
						  <textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
					   	  <label for="exampleFormControlInput1">Question 3</label>
					   	  <input type="text" class="form-control" placeholder="Question">
					    </div>

						<div class="form-group">
					  	  <label for="exampleFormControlTextarea1">Answer 3</label>
					  	  <textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
						  <label for="exampleFormControlInput1">Question 4</label>
						  <input type="text" class="form-control" placeholder="Question">
						</div>

						<div class="form-group">
					      <label for="exampleFormControlTextarea1">Answer 4</label>
						  <textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
						  <label for="exampleFormControlInput1">Question 5</label>
						  <input type="text" class="form-control" placeholder="Question">
						</div>

						<div class="form-group">
					      <label for="exampleFormControlTextarea1">Answer 5</label>
						  <textarea class="form-control" rows="3"></textarea>
						</div>

						<button type="button" class="btn btn-primary">Post</button>
				</div>
		     
		    </div>
		    <div class="col-sm-centercol"></div>
		  </div>
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" scr="script.js"></script>
</body>
</html>